<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438627874776-ersqarp12l0e7q4dluamb44k8p248ict.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438627874776-ersqarp12l0e7q4dluamb44k8p248ict</string>
	<key>API_KEY</key>
	<string>AIzaSyA9hQPG46xk0BbTMia4Pcw-isse7AJMV74</string>
	<key>GCM_SENDER_ID</key>
	<string>438627874776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbays.trivia</string>
	<key>PROJECT_ID</key>
	<string>rbays-trivia</string>
	<key>STORAGE_BUCKET</key>
	<string>rbays-trivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438627874776:ios:cb274313126ee35aad24ad</string>
</dict>
</plist>